#myFooter {
	font-size: 12px;
	font-weight: 600;
	background-color: #353f47;
	color: $grey;
	padding: 80px 0;
	.wrapper {
		width: 1170px;
		margin: 0 auto;
	}
}

#myFooter p {
	float: right;
}

#myFooter td {
	border-left: 1px solid $grey;
	padding: 0 15px;
	vertical-align: center;
}

#myFooter td a {
	color: $grey;
}